:root {
  --brown: #615858;
  --green-1: #0d7619;
  --green-2: #9acf64;
  --green-3: #395e1b;
  --green-4: #708954;
  --light-yellow: #fffdf1;
}

html {
  font-size: 62.5%;
  font-family: Dosis;
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  background-color: var(--green-1);
  color: white;
  display: block;
  padding: 10px 0;
}

footer {
  background-color: var(--brown);
  color: white;
  display: block;
  padding: 100px 0;
}

header .container,
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}

.primary-menu ul,
.secondary-menu ul {
  display: flex;
  list-style: none;
}

.primary-menu ul li a,
.secondary-menu ul li a {
  justify-content: space-between;
  color: white;
  margin: 0 15px;
}

.primary-menu ul li a {
  font-size: 22px;
}

.secondary-menu ul li a {
  font-size: 26px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 35px;
  line-height: 60px;
  color: var(--brown);
  letter-spacing: 3px;
  text-align: center;
}

.title-highlight {
  color: var(--green-2);
}

.title-spacing {
  letter-spacing: 8px;
}

.subtitle {
  font-size: 24px;
  color: var(--green-4);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.baseline {
  font-size: 26px;
  color: var(--brown);
}

.desc {
  font-size: 30px;
  line-height: 50px;
  color: grey;
}

.button-1 {
  color: white;
  border: 2px solid var(--green-3);
  background-color: var(--green-3);
  padding: 12px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 18px;
}

.button-1:hover {
  transition: 0.3s;
  color: var(--green-3);
  background-color: rgba(0, 0, 0, 0);
}

.banner {
  background-size: cover;
}

.banner,
.conference {
  padding: 200px 0;
  text-align: center;
}

.banner p {
  padding-bottom: 10px;
}

.separator::after {
  border: 1px solid lightgrey;
  content: "";
  display: block;
  margin: 30px auto 50px auto;
  width: 150px;
}

.program {
  background-color: var(--light-yellow);
}

.program-background {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.program-subtitle-wrapper {
  display: flex;
  margin: 50px 0;
}

.program-subtitle-left {
  flex: 1;
  margin-right: 25px;
}

.program-subtitle-right {
  flex: 1;
  margin-left: 25px;
}

.program-content {
  display: flex;
  margin-bottom: 25px;
}

.program-content-left {
  flex: 1;
  margin-right: 20px;
  text-align: left;
  margin-right: 25px;
}

.program-content-right {
  flex: 1;
  margin-left: 20px;
  text-align: left;
  margin-left: 25px;
}

.program-wrapper {
  padding: 100px 0 125px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.program-desc {
  font-size: 23px;
  color: var(--brown);
  margin-bottom: 25px;
}

.program-hour {
  font-weight: 600;
  margin-right: 25px;
}

.speakers-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.speakers-content {
  flex: 0 0 calc(25% - 5px);
  margin-top: 100px;
}

.speakers-content:hover {
  transition: 0.3s;
  transform: translateY(-10px);
}
.speakers-image {
  margin: 0 auto;
  height: 175px;
  width: 175px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
  background-position: center;
}

.speakers-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
  color: var(--green-3);
}

.speakers-desc {
  font-size: 22px;
  color: var(--brown);
  margin-bottom: 25px;
}

.speakers-button {
  color: white;
  border: 2px solid var(--green-2);
  background-color: var(--green-2);
  padding: 12px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 18px;
}

.speakers-button:hover {
  transition: 0.3s;
  color: var(--green-2);
  background-color: rgba(0, 0, 0, 0);
}

.speakers,
.informations {
  padding: 100px 0 125px 0;
  text-align: center;
}

.informations-background {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 155%; */
  background-position: left bottom;
}

.location-wrapper,
.date-wrapper,
.dinner-wrapper {
  display: flex;
  font-size: 30px;
}

.informations-container {
  width: 1280px;
  margin: 0 auto;
}

.informations-wrapper {
  background-color: var(--green-2);
  width: 400px;
  color: white;
  text-align: left;
  padding: 125px 50px;
}

.location-text {
  text-decoration: underline;
}

.date-wrapper,
.dinner-wrapper {
  margin-top: 50px;
  padding-left: 25px;
}

.date-wrapper {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 50px 0 50px 25px;
}

.location-wrapper {
  align-items: center;
  padding-left: 25px;
}

.fa-map-marker-alt,
.fa-utensils {
  font-size: 75px;
  margin-right: 50px;
}

.fa-clock {
  font-size: 75px;
  margin-right: 35px;
}

.videos {
  margin-bottom: 150px;
  text-align: center;
}

.videos-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-videos-background {
  flex: 1;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: -1px 2px 200px 3px rgba(0, 0, 0, 0.7) inset;
  background-position: center;
}

.main-videos-background:not(:last-child) {
  margin-right: 10px;
}

.main-videos-content {
  position: absolute;
  text-align: center;
  color: white;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.main-videos-title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2px;
}

.secondary-videos-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
  color: var(--brown);
}

.main-videos-desc {
  font-size: 24px;
  text-transform: uppercase;
}

.secondary-videos-desc {
  font-size: 22px;
  color: var(--brown);
}

.fa-play-circle {
  font-size: 100px;
  margin-bottom: 25px;
}

.secondary-videos-player .fa-play-circle {
  font-size: 50px;
  color: white;
  padding-top: 20%;
}

.secondary-videos-wrapper {
  flex: 0 0 calc(50% - 5px);
  display: flex;
  flex-wrap: wrap;
  height: 175px;
  margin-top: 25px;
  align-items: center;
}

.secondary-videos-player {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: -1px 2px 100px 3px rgba(0, 0, 0, 0.7) inset;
  margin-right: 25px;
  height: 100%;
  background-position: center;
}

.secondary-videos-player:hover,
.main-videos-background:hover {
  transition: 0.3s;
  box-shadow: -1px 2px 100px 3px rgba(0, 0, 0, 0.9) inset;
}

.secondary-videos-content {
  flex: 1;
  text-align: left;
  align-items: center;
}

.actus {
  padding: 100px 0;
  background-color: var(--light-yellow);
  margin-bottom: 150px;
  color: var(--brown);
}

.actus-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.actus-desc {
  font-size: 22px;
  margin-bottom: 50px;
}

.actus-date {
  margin-top: 50px;
  font-size: 16px;
}

.actus-articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.actus-articles {
  flex: 0 0 calc(25% - 25px);
}

.actus-articles:hover {
  transition: 0.3s;
  transform: translateY(-10px);
}

.actus-image {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.actus-content {
  padding: 25px 25px 12px 25px;
  background-color: white;
}

.actus-button {
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--brown);
  padding: 12px 25px;
  border: 1px solid var(--brown);
  text-align: center;
}

.actus-button:hover {
  transition: 0.3s;
  color: white;
  background-color: var(--brown);
}

.actus-button-wrapper {
  text-align: center;
}

.downloads-wrapper {
  justify-content: center;
  display: flex;
}

.downloads {
  margin-bottom: 300px;
}

.downloads-background {
  width: 300px;
  height: 400px;
  position: relative;
  box-shadow: -1px 2px 200px 3px rgba(0, 0, 0, 0.7) inset;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.downloads-background:hover {
  transition: 0.3s;
  box-shadow: -1px 2px 200px 3px rgba(0, 0, 0, 0.9) inset;
}

.downloads-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.downloads-border {
  border: 1px solid lightgrey;
  padding: 25px;
}

.downloads-border:not(:last-child) {
  margin-right: 25px;
}

.fa-angle-double-down {
  color: white;
  position: absolute;
  right: 10%;
  top: 5%;
  font-size: 50px;
}
